 <!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>LTT News Scraper</h1>
          <p class="text-muted white"><a href='https://github.com/mattlgroff/article_scraper'>Created by Matt Groff</a></p>
          <button id="scrapeBtn" class="btn btn-primary">Scrape</button>
          <p class="text-muted white">Scroll down to see the articles :)</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" id="articleContainer">
      {{#each results}}
      <div class='post-preview col-sm-12 col-xs-12 col-md-12 col-lg-12' id='{{this.id}}'>
        <a target="_blank" href='{{this.url}}'>{{{this.title}}}</a>
        <p class='post-meta'>Date Scraped: {{this.date}}</p>
        <ul class='post-subtitle' id='{{this.id}}Comments'>
          {{#each this.comments}}
          <li>{{this.body}}<br>{{this.date}}
          {{/each}}
        </ul>
        <textarea id='{{this.id}}Text' rows='2' cols='50'></textarea>
        <br>
        <button class='btn btn-primary addCommentBtn' id='{{this.id}}'>Add Comment</button>
      </div>
      <hr>
      {{/each}}
    </div> 
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">Article Source: <a href='https://linustechtips.com'>Linus Tech Tips Forum</a></p>
        <p class="copyright text-muted">Bootstrap Template Source: <a href='https://startbootstrap.com/template-overviews/clean-blog/'>Clean Blog by BlackrockDigital</a></p>
        
      </div>
    </div>
  </div>
</footer>
